<h1>Editing <%= @task.name %></h1>
<form action = '/tasks/<%= @task.id %>/edit' method='post'>
<input id='hidden' type='hidden' name='_method' value='patch'>
<p>Name:
<input type='text' id='name' name='name' value='<%= @task.name %>' if='name'>
<p>Start Date:
<input type='date' id='start_date' name='start_date' value='<%= @task.start_date %>' if='start_date'>
<p>End Date:
<input type='date' id='end_date' name='end_date' value='<%= @task.end_date %>' if='end_date'>
<p>Editor:
  <select name='editor' id='editor'>
    <% @assigned = AssignedTask.find_by(task_id: @task.id) %>
    <% @editors = Editor.all %>
    <option disabled selected value> - Select an Editor - </option>
    <% @editors.each do |editor| %>
    <option value='<%= editor.name %>' <% if @assigned && @assigned.editor_id == editor.id %>selected<% end %>><%= editor.name %></option>
    <% end %>
  </select>
<p>Status:
  <br>
  <br>
<input type='checkbox' id='inquired' value=TRUE name='inquired' <% if @task.inquired == TRUE %>checked<% end %>>
<label for='status'>Inquired</label>
<input type='checkbox' id='assigned' value=TRUE name='assigned' <% if @task.assigned == TRUE %>checked<% end %>>
<label for='status'>Assigned</label>
<input type='checkbox' id='transmitted' value=TRUE name='transmitted' <% if @task.transmitted == TRUE %>checked<% end %>>
<label for='status'>Transmitted</label>
<input type='checkbox' id='completed' value=TRUE name='completed' <% if @task.completed == TRUE %>checked<% end %>>
<label for='status'>Completed</label>
<input type='checkbox' id='invoiced' value=TRUE name='invoiced' <% if @task.invoiced == TRUE %>checked<% end %>>
<label for='status'>Invoiced</label>
<input type='checkbox' id='paid' value=TRUE name='paid' <% if @task.paid == TRUE %>checked<% end %>>
<label for='status'>Paid</label>
<br>
<br>
<input type='submit' id='submit' value='Submit'>
</form>
