<h4>CURRENT TASKS</h4>
<br>
<br>
<div class='row'>
<% @tasks.each do |task| %>
<div class="col s12 m6 l4">
  <div class="card small grey">
    <div class="card-content white-text">
      <span class="card-title"><%= task.name %> for <%= task.project.author %>'s <%= task.project.title %></span>
      <p>Start: <%= task.start_date %></p>
      <p>End: <%= task.end_date %></p>
      <br>
      <% if !task.editors.empty? %>
      <p>Editor: <%= task.editors.first.name %></p>
      <% else %>
      <p>No editor assigned.
      <% end %>
    </div>
    <div class="card-action">
      <a class="white-text" href='/tasks/<%= task.id %>'><i class="material-icons">format_list_bulleted</i></a>
      <a class="white-text" href='/tasks/<%= task.id %>/edit'><i class="material-icons">edit</i></a>
      <a class="white-text" href='/tasks/<%= task.id %>/delete'><i class="material-icons">delete</i></a>
    </div>
  </div>
</div>
<% end %>
</div>
<!-- Flagging for Needs -->
<% if @needs && @needs.empty? %>
  <h5>No tasks need assigning.</h5>
<% elsif @needs && !@needs.empty? %>
  <h5>The following tasks need assigning:</h5>
  <div class='row'>
  <% @needs.each do |need| %>
  <div class="col s12 m6 l4">
    <div class="card small grey">
      <div class="card-content white-text">
        <span class="card-title"><%= need.name %> for <%= need.project.author %>'s <%= need.project.title %></span>
        <p>Start: <%= need.start_date %></p>
        <p>End: <%= need.end_date %></p>
      </div>
      <div class="card-action">
        <a class="white-text" href='/tasks/<%= need.id %>'><i class="material-icons">format_list_bulleted</i></a>
        <a class="white-text" href='/tasks/<%= need.id %>/edit'><i class="material-icons">edit</i></a>
        <a class="white-text" href='/tasks/<%= need.id %>/delete'><i class="material-icons">delete</i></a>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
</div>
