<h4>New tasks for <%= @project.author %>'s <%= @project.title %></h4>

<h5>Select Tasks to add to this project, or create your own.</h5>

<form action='/<%= @project.id %>/tasks/new' method='post'>

<label for='task_2'>Custom Task</label>
<input type='text' name='project[tasks][][name]'>
<br>
<label for='start'>Start Date</label>
<input type='date' id='start' name='project[tasks][][start_date]'>
<label for='end'>End Date</label>
<input type='date' id='end' name='project[tasks][][end_date]'>
<br>
<div class="input-field col s12">
  <select name='project[tasks][][editor]' id='editor'>
    <option disabled selected value> - Select an Editor - </option>
    <% @editors.each do |editor| %>
    <option value='<%= editor.name %>'><%= editor.name %></option>
    <% end %>
  </select>
  <label>Select an Editor</label>
</div>
<br>
<br>
<br>

<% @default_tasks.each do |default| %>
<label>
<input type='checkbox' name='project[tasks][][name]' value='<%= default %>'>
<span><%= default %></span>
</label>
<br>
<label for='start_date'>Start Date</label>
<input type='date' id='start_date' name='project[tasks][][start_date]'>
<label for='end_date'>End Date</label>
<input type='date' id='end_date' name='project[tasks][][end_date]'>
<br>
<p>Editor:
  <select name='project[tasks][][editor]' id='editor'>
    <option disabled selected value> - Select an Editor - </option>
    <% @editors.each do |editor| %>
    <option value='<%= editor.name %>'><%= editor.name %></option>
    <% end %>
  </select>
<br>
<br>
<br>
<% end %>
<button type='submit' id='submit' class='btn grey waves-effect waves-light'>
Make Task(s)
<i class='material-icons right'>send</i>
</button>

</form>
