<% if !@projects.empty? %>
<h3>Here are all of our current projects:</h3>
<div class="row">
<% @projects.each do |project| %>
  <% if project.complete == FALSE || project.complete == nil %>
  <div class="col s12 m6 l4">
    <div class="card grey">
      <div class="card-content white-text">
        <span class="card-title"><%= project.author %>'s <%= project.title %></span>
        <p><%= project.notes %></p>
      </div>
      <div class="card-action">
        <a class="white-text" href='/projects/<%= project.id %>'>Details</a>
        <a class="white-text" href='/projects/<%= project.id %>/edit'>Edit</a>
        <a class="white-text" href='/projects/<%= project.id %>/delete'>Delete</a>
      </div>
    </div>
  </div>
<% end %>
<% end %>
</div>
<br>
<br>
<br>
<p>To view completed projects, <a href='/projects/completed'>click here.</a></p>
<p>Make a <a href='/projects/new'>new project.</a></p>
<% else %>
<h1>You have no projects. <a href='/projects/new'>Make one?</a></h1>
<% end %>
