<button class='btn grey waves-effect waves-light text-white right'>
<a href='/projects/new' style='color:white'>New Project</a>
<i class='material-icons right'>add</i>
</button>
<% if !@projects.empty? %>
<h4>CURRENT PROJECTS</h4>
<div class="row">
<% @projects.each do |project| %>
  <% if project.complete == FALSE || project.complete == nil %>
  <div class="col s12 m6 l4">
    <div class="card small grey">
      <div class="card-content white-text">
        <span class="card-title"><%= project.author %>'s <%= project.title %></span>
        <p><%= project.notes %></p>
        <% started = User.find_by_id(project.user_id) %>
        <% if started %>
        <br>
        <p>Started By: <%= started.username %></p>
        <% else %>
        <br>
        <p>Started by a former user.</p>
        <% end %>
      </div>
      <div class="card-action">
        <a class="white-text" href='/projects/<%= project.id %>'><i class="material-icons">format_list_bulleted</i></a>
        <a class="white-text" href='/projects/<%= project.id %>/edit'><i class="material-icons">edit</i></a>
        <a class="white-text" href='/projects/<%= project.id %>/delete'><i class="material-icons">delete</i></a>
        <a class="white-text" href='/<%= project.id %>/tasks/new'><i class="material-icons">add</i></a>
      </div>
    </div>
  </div>
<% end %>
<% end %>
</div>
<br>
<br>
<br>
<button class='btn grey waves-effect waves-light text-white'>
<a href='/projects/completed' style='color:white'>Completed Projects</a>
<i class='material-icons right'>access_time</i>
</button>

<% else %>
<h4>You have no projects.</h4>
<br>
<% end %>
